@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #bcb8b8b4;
}

::-webkit-scrollbar-thumb {
    background: #ef0303;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #6c0202;
}
